@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$background: url("../resources/elipses2.png");

@mixin background-text {
  background: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: $background repeat 0 0;
  background-size: 2em;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  padding: 4em 6em 0em 6em;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .a-logo {
    grid-column: span 8 / auto;
    img{
      width: 30%;
    }
  }
  .a-proyectos {
    grid-column: span 2 / auto;
    img{
      width: 76%;
    }
  }
  .a-contacto {
    grid-column: span 2 / auto;
    img{
      width: 54%;
    }
  }

  > img {
    @include background-text();
  }

  hr {
    grid-column: span 12 / auto;
    margin: 0.5em 0em;
    border-style: solid;
    border-width: 0.09em;
  }
}

.elipse {
  position: relative;

  grid-row: span 8 / auto;

  .elipseboi {
    position: absolute;
    width: 5%;
    opacity: 0;
  }

 
}

.proyecto {
  position: absolute;
  display: none;
  align-self: center;
  background: white;
  margin: 0.2em;
  padding: 0.2em;

  a {
    text-decoration: none;
    color: black;
  }

  hr {
    border-style: solid;
    border-width: 0.09em;
    margin: 0.2em 0em;
  }

  h3 {
    font-weight: 1;
  }
}

// posicion de los proyectos

.campeonisimo {
  top: 12%;
}

.campeonisimo:hover {
  
  cursor: pointer;
}

.onoff {
  top: 40%;
}

.onoff:hover {
 
  cursor: pointer;
}

.github {
  top: 65%;
}

.github:hover {
  
  cursor: pointer;
}

.atras {
  position: absolute;
  top: 85%;
  display: none;
}

.atras:hover {
  cursor: pointer;
}

.ss {
  position: absolute;
  display: none;
  left: 50%;
  top: 12%;
  img{
    width: 80%;
  }
}

.tecnologia {
  position: absolute;
  top: 40%;
  display: none;
  background: white;
  hr {
    border-style: solid;
    border-width: 0.09em;
    margin: 0.2em 0em;
    width: 100%;
  }
  ul{
    position: absolute;
    left: 10%;
  }
  h3{
    font-weight: 1;
  }
}

//clases de control
.boton-1 {
  display: none;
  position: absolute;
  top: 65%;
}

.boton-2{
  display: none;
  position: absolute;
  top: 65%;
}

.boton-3{
  display: none;
  position: absolute;
  top: 65%;
}

.show {
  display: initial;
}
